extends layout
    
block content

    .container
        .row.mt-4
            .col-md-4.offset-md-4
                .signup-form
                    form(action="/signup" method='post')
                        .control-grou
                            label(for="id") 帳號
                            .controls
                            input(type="text",id='id' name="id") 
                        .control-group
                            label(for="pwd") 密碼
                            .controls
                            input(type="text",id='pwd' name="pwd") 
                        .control-group
                            label(for="pwd2") 確認密碼
                            .controls
                            input(type="text",id='pwd2' name="pwd2")

                        hr
                        if msg
                            span #{msg}
                           hr 
                        button(type="submit" value='login/sign up') login/sign up
    
    